body {
    background-color:#fcfcfc;
    text-decoration:none;
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 700;
    font-style: normal;

    
}

a {
    text-decoration:none; 
    color:#716C6C;
}

.logo {
max-width: 120px !important;
}

.hover{
    position: relative;
}

.hover:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
  }
  

  section,
  .gallery-image,
  .image-contain  {
      position:sticky;
      position:-webkit-sticky;
      top:0;
  }
  
  .hover:hover:before {
    visibility: visible;
    width: 65%;
    margin-right: auto;
    margin-left:auto;
  }

  .hero-copy {
      background-color: #fcfcfc;
      width:100vw;
      height:100vh;
  }
 
.hero-image {
    min-height:100vh;
    position:sticky;
    position:-webkit-sticky;
    top:0;
}
.gallery-image {
height:100vh;
background-color: #fcfcfc;
}

.gallery-image img {
    width: -webkit-fill-available;
    height: 100vh;
    display: block;
    object-fit: cover;
}

.image-contain {
    height:100%;
}

.post-gallery {
    min-height:100vh;
    width:100vw;
}


.hero-image-logo {
    min-height:15vh;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);

}
#site-navigation {
    z-index:1;
}

.hero-content {
    padding-top:7rem;
    padding-bottom:7rem;
    margin-right:auto;
    margin-left:auto;
    color:#716C6C;
    min-height:80vh;
    max-height:100vh; 
    background-color: #fcfcfc;  
}


.case-title,
.date,
.case-copy {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-style: normal;
    margin:0;
}

.case-title {
    font-weight: 400;
    font-size:1.2rem;
}

.date {
    font-weight: 200;
    font-size:1.2rem;
}

.case-copy {
    color:#716C6C;
    font-weight: 200;
    font-size:1.5rem;
    margin-right:auto;
    margin-left:auto;
    text-transform: inherit;
    
}

.cs-link{
    font-weight: 200 !important;
    font-size:1.rem;
    text-transform: uppercase !important;
    cursor:pointer;
}

.site-header {
    height:100px;
}

#masthead {
    z-index: 2;
}

.info-pages{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.info-pages p {
    margin-top: 16px;
    margin-bottom: 16px;
}

li {
    list-style:none;
    text-transform: uppercase;
    padding:24px;
}

ul {
    padding:0;
}

.case-copy li a {
    font-size:32px;
}

.main-navigation {
    width:100vw;
    height:60vh;
    background-color:#101010;
    color:white;
    display:flex;
    z-index:40;
    position:fixed;
    top:-60vh;

    transition: top 0.5s;
}

nav.open {
    top:0;
}

#primary-menu {
    display:flex;
    margin:auto;
    color:white !important;


}

.menu-nav a{
    margin:8px;
    color:white;
}


.nav-toggle {
    width: 64px;
    cursor:pointer;
    padding:16px;
    z-index:4;
}

.nav-socials {
    display:flex;
    margin-left: auto;
    margin-right:auto;
    height:80px;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    
}

.nav-socials a{
    z-index: 2;
    margin:8;
    color:white;
    bottom:0;

}

.nav-socials a img {
    height:20px;
    margin-left:auto;
    margin-right:auto;
    color:white;
    padding:24px;
}

.menu-menu-1-container {
    margin-right: auto;
    margin-left: auto;
}

.description {
height:50vh;
width:100vw;
display:flex;
}

.description p {
    margin:auto;
}


/* ----------------------------Page Pagination------------------------------- */

.prev,
.next {
    width: 64px;
    height:64px;
    cursor: pointer;
    

}

.next {
    position:fixed;
    right:2vw;
    top:50%;
    transform: translateY(-50%);
}
.prev {
    position:fixed;
    left:2vw;
    top:50%;
    transform: translateY(-50%);
}

.pagination-inner {
    margin:2px;
    width:50%;
    background-size:contain;
    margin:auto;
}

.menu-overlay {
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events:auto;
    background-size: cover;
  }

  .post-link:hover {
      color:white;
  }

  .nav-toggle .cls-1 {
      color:white !important;
      stroke:none !important;
      stroke-width:0 !important;
      fill:white !important;
  }


  /* ----------------------------Home Image Slider------------------------------- */



  .slider {
      height:50vh !important;
      width:fit-content;
      display:flex;
      margin:0;
      padding:0;
  }

  .slider li {
      display: inline;
  }

  .sliderimage {
      display:flex;
      margin:none;
      padding:none;

  }

  .slider-items {
      display: inline;
      margin: 0;
      padding: 0;
  }

  .slider-item {
      margin: 0;
      padding: 0;
      width:30vw;
  }

  .create {
      position:fixed;
      width: 100vw;
      height: 50vh;
  }
  .create p {
    top: 25%;
    margin-top: 25vh;
    transform: translateY(-50%);
  }
  
  /* ---------------------------------------Media Queries------------------------------------------------- */

@media (max-width:480px) {
    .slider-item {
        width:80vw;
    }

    h1 {
        font-size:1.2em;
    }
    .case-copy {
        font-size:1rem;
    }

    .prev,
    .next {
        width:36px;
        height:36px;
    }
/* --------------------------------Images to fit to Full size on Mobile ---------------------------------------*/
    .gallery-image {
        height:auto;
        background-color: #fcfcfc;
        }
        
        .gallery-image img {
            width: auto;
            height: auto;
            display: block;
            object-fit: cover;
        }
        
        .image-contain {
            height:auto;
        }
        
        .post-gallery {
            min-height:100vh;
            width:100vw;
        }
}